*{
	padding: 0;
	margin: 0;
}

body{
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000000;
	font-size: 16px; /* 2em */
	
}

.container{
	width: 960px;
	justify-content: center;
	align-content: center;
	margin: auto;
	position: relative;
}

.gallery-container{
	  display: flex;  
  	  flex-wrap: wrap;
	 justify-content: center
}

.gallery {
  margin: 5px;
  float: left;
  width: 300px;
  background-color:white;
}


.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


header {
	background-color: #fff;
}

h2{
	margin-top: 60px;
	background-color: #fff
}

nav{
	background-color: #333333;
	text-align: center;

}

nav ul{

	list-style-type: none;
}

nav li{

	display: inline-block;
	color: white;
}

nav a:link{
	/*background-color: #333333;*/
	color: #ffffff;
	text-decoration: none;
	width: 150px;
	display: block;
	text-align: center;
	padding-top: 10px
	padding-bottom: 10px;
}

a:link{
	color: white;
}

a:visited{
	color: white;
}

a:active{
	color: yellow;
}

.form{
	padding: 280px;
}

aside{
	float: right;
	text-align: left;
	padding-left: 50px;	
}

.footer{
	text-align: left;
	margin-bottom: 0;
	width: 960px;


	
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

/* phone Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
 		}
	}
/* tablet*/
@media screen and (max-width: 768px){
		body{
			background-color: white;
		}


